{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/recipes.css">
{% endblock %}

{% block content %}
	<h1 class="text-center m-5">{{recipe.name}}</h1>
	<div class="row g-5 cont large-container">
			{% include "Includes/_large_card.html.twig" %}		
	</div>
{% endblock %}
{% block javascript %}
	<script src="/assets/javascript/deezerPlayer.js"></script>
{% endblock %}


