{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/recipes.css">
{% endblock %}

{% block content %}
	<h1 class="text-center m-5">{{ recipe.cooking_time }} min</h1>
	<div class="row g-5 cont">
		
			
	</div>
{% endblock %}
