<div class="banner mt-5"></div>
<div class="title">
	<h1 class="varius p-1">Varius</h1>
	<p class="ban-accueil fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, maiores dolores at tempore eaque eveniet illum soluta, voluptas officiis incidunt corporis aut. Consequatur repellat perspiciatis ducimus magnam, aut quod ipsum.</p>
</div>
