<div class="cooking_in_music_pic card ">
	<img src="assets/images/cooking_in_music.jpeg" class="card-img banner opacity-25">
	<div class="card-img-overlay d-flex align-items-center justify-content-center">
		<div class="cooking_in_music d-flex flex-column justify-content-center align-items-center">
			<h1 class="cooking_in_music text-center">Play my recipe</h1>
			<img class="button" src="assets/images/play-circle-outlined.svg">
		</div>
	</div>
</div>
