<div class="banner mt-5"></div>
<div class="title container d-flex justify-content-center"></div>
<div class="cooking_in_music_pic card">
	<img src="assets/images/cooking_in_music.jpeg" class="card-img opacity-25">
	<div class="card-img-overlay">
		<div class="cooking_in_music d-flex justify-content-center">
			<h1 class="position-absolute top-50 start-50 d-flex align-content-center translate-middle cooking_in_music">Play my recipe</h1>
		</div>
	</div>
</div>

