<div class="container cont">
	<div class="cooking">
		<h2 class="text-center m-5">Cuisiner en musique</h2>
	</div>
	<div class="col-lg-12 column">
		<div class="card card-recipe large-card mx-3">
			<img class="card-img img-recipe" src="assets/images/music2_carrousel.jpg" alt="illustration">
			<p class="text-left description p-3 m-5">Varius est une application qui permet de cuisiner vos meilleurs recettes et d'écouter de la musique, grâce à des playlists faites en fonction du temps de cuisson de vos plats. Elle vous permet également d’avoir accès aux classiques de la gastronomie tout en surveillant votre temps de cuison!</p>
		</div>
	</div>
</div>

