<div class="container">
	<div class="cooking d-inline-flex p-2 bd-highlight">
		<h3>Cuisiner en musique</h3>
	</div>
	<div class="picture_food col-10">
		<img class="d-block w-100 justify-content-end" src="assets/images/music2_carrousel.jpg" alt="">
	</div>
</div>
<div class="m-5 d-flex">
	<p>Lorem ipsum dolor sit amet. Et totam dolore non quod numquam et unde quasi vel officia natus! Ut perspiciatis distinctio vel molestiae necessitatibus sit quia commodi non alias aperiam!
	Nam voluptas optio qui earum asperiores aut tempora adipisci. Hic nemo porro est incidunt tenetur et odio assumenda eos consectetur modi id dolor nobis qui earum expedita. Ad assumenda debitis est consectetur expedita est aperiam ducimus aut quia similique? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint maiores nesciunt est! Quo accusantium vero maxime eos, corporis odio beatae nulla neque quia a distinctio libero quaerat harum. Quam, asperiores.</p>
</div></body>
