<div class="container">
	<div class="cooking d-inline-flex p-2 bd-highlight">
		<h3>Cuisiner en musique</h3>
	</div>
	<div class="picture_food col-10">
		<img class="d-block w-100 justify-content-end" src="assets/images/music2_carrousel.jpg" alt="">
	</div>
</div>
<div class="m-5 d-flex">
	<p>Varius est une application qui permet d'écouter de la musique, grâce à des playlists faites en fonction du temps de cuisson de vos plats. Elle vous permet également d’avoir accès aux classiques de la gastronomie grâce à ses recettes disponibles !</p>
</div></body>
