<div class="container">
	<div class="cooking d-inline-flex p-2 bd-highlight mt-3 mb-3 mx-3">
		<h3>Cuisiner en musique</h3>
	</div>
	<div class="picture_food col-10">
		<img class="d-block w-100 justify-content-end" src="assets/images/music2_carrousel.jpg" alt="">
	</div>
</div>
<div class="text m-5 d-flex shadow-sm p-3 mb-5 bg-body rounded">
	<p>Varius est une application qui permet d'écouter de la musique, grâce à des playlists faites en fonction du temps de cuisson de vos plats. Elle vous permet également d’avoir accès aux classiques de la gastronomie grâce à ses recettes disponibles !</p>
</div></body>
