<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand p-0" href="home">
            <img src="/assets/images/varius.png" alt="Varius logo" class="varius-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60 60"
                width="60px" height="60px" class="navbar-icon">
                <g id="surface14177983">
                    <path
                        style=" stroke:none;fill-rule:nonzero;fill:rgb(96.078432%,96.078432%,96.078432%);fill-opacity:1;"
                        d="M 30 6 C 13.5 6 8 14.191406 8 16 C 8 17.105469 8.894531 18 10 18 L 50 18 C 51.105469 18 52 17.15625 52 16 C 52 14.84375 46.5 6 30 6 Z M 10 22 C 7.789062 22 6 23.789062 6 26 C 6 28.210938 7.789062 30 10 30 L 50 30 C 52.210938 30 54 28.210938 54 26 C 54 23.789062 52.210938 22 50 22 Z M 8 34 C 7.277344 33.988281 6.609375 34.367188 6.246094 34.992188 C 5.878906 35.613281 5.878906 36.386719 6.246094 37.007812 C 6.609375 37.632812 7.277344 38.011719 8 38 L 52 38 C 52.722656 38.011719 53.390625 37.632812 53.753906 37.007812 C 54.121094 36.386719 54.121094 35.613281 53.753906 34.992188 C 53.390625 34.367188 52.722656 33.988281 52 34 Z M 10 42 C 8.894531 42 8 42.894531 8 44 L 8 46 C 8 48.210938 9.789062 50 12 50 L 48 50 C 50.210938 50 52 48.210938 52 46 L 52 44 C 52 42.894531 51.105469 42 50 42 Z M 10 42 " />
                </g>
            </svg>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="home">Acceuil</a>
                <a class="nav-item nav-link active" href="recipes">Recettes</a>
                <a class="nav-item nav-link active" href="profile">Profile</a>
            </div>
        </div>
    </div>
</nav>